{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero-section">
  <div class="container">
    <h1>Thank you for visiting!</h1>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2 text-center text-md-start">
            <h3>{% trans "Sign Out" %}</h3>

            <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4 mt-3 mx-auto text-center">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

  {% block copyright %}
    &copy; 2025 Fashion Tech. All rights reserved.
  {% endblock %}
